@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 20px;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #008000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

.tutorial-button {
    background-color: #008000;
    color: white;
    height: 40px;
    width: 150px;
}

code {
    font-family: monospace;
  }